.synopsis-info-card {
  background-color: rgb(69, 69, 69);
}
.synopsis-info-header {
  font-size: 25px;
  margin-bottom: 15px;
  align-items: left;
  justify-content: left;
  color: lightgray;
}
.synopsis-info-content {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  color: lightgray;
  align-items: left;
}