.main-profile-container {
  justify-content: center;

}
.profile-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  align-content: space-between;
}
.user-info-container {
  margin-top: 2vh;
  margin-right: 1vw;
  color: lightgray;
  border-color: darkgray;
  border-width: 1px;

}
.user-update-container {
  margin-top: 2vh;
  color: lightgray;
  border-color: darkgray;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
}
.favorites-container {
  // margin: 50px;
}
.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2vw;
  margin-left: 2vw;
  justify-content: left;
  margin-top: 11vh;
}
.movie-card {
  margin: 50px;
  margin-bottom: 250px;
  width: 450px;
  height: 550px;
  background-color: #01675d;
  border-radius: 10px;
}
.movie-card-actions {
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  color: aliceblue;
}
.button-profile {
  margin-right: 5px;
}
